@model IEnumerable<LTWeb_Tuan05_Bai03.Models.Loai>
@{
    ViewBag.Title = "HienThiLoai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<table class="table table-striped border">
    <thead>
        <tr>
            <th>Mã loai</th>
            <th>Tên loai</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaLoai)</td>
                <td><b>@Html.DisplayFor(modelItem => item.TenLoai)</b></td>
            </tr>
        }
    </tbody>
</table>